<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Francois+One&family=Oswald:wght@700&family=Pacifico&family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="styles/index.css"/>
    
    {% block styles %}
    {% endblock styles %}
    
   
    <link rel="stylesheet" type="text/css" href="styles/responsive.css"/>
    
    <title>Ecoleta</title>
</head>
<body>

    <div id="page-home">



        </div>


</body>
</html>