@import url('https://fonts.googleapis.com/css2?family=Francois+One&family=Oswald:wght@700&family=Pacifico&family=Roboto:wght@100&display=swap');

:root {
    --title-color: #006400;
    --primary-color: #228B22;
}
 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Francois One', sans-serif;
   

}

body{
    background: #90EE90;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #78ffd6, #a8ff78);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #78ffd6, #a8ff78); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-font-smoothing: antialiased;
}

a{
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
    color: var(--title-color);
}

